@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
// @use '../../common/setting/const';
@use '../../style/setting/var';


/**
 * 아이콘
**/
.icon-link {
  display: inline-block;
  margin-left: .4rem;
  width: 1.6rem;
  height: 1.6rem;

  &::before {
    width: 100%;
    height: 100%;
    @include mixin.svg(var.$color_grey_light url("../image/icon/icon_link.svg") 'center' no-repeat);
    content: '';
  }
}

.icon-close {
  width: 2rem;
  height: 2rem !important;

  &::before {
    width: 100%;
    height: 100%;
    @include mixin.svg(var.$color_black url("../image/icon/icon_close.svg") 'center' no-repeat);
    content: '';
  }
}