@charset "UTF-8";


//< z-index
$zIndex_header: 10;
$zIndex_floating: 10;
$zIndex_modal: 100;
//> z-index

//< ir-blind
.ir-blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
//> ir-blind

//< font
@font-face {
  font-family: 'PretendardVariable';
  src: url('../font/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}
$fontFamily_base: 'PretendardVariable', sans-serif;

//> font